.style_introduction__g09Mm {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 99;
    background-color: #0e100f
}

.style_introduction__g09Mm svg {
    position: absolute;
    top: 0;
    width: 100%;
    height: calc(100% + 300px)
}

.style_introduction__g09Mm svg path {
    fill: #0e100f
}

.style_introduction__g09Mm p {
    display: flex;
    color: #ffffe3;
    font-size: 3rem;
    align-items: center;
    position: absolute;
    z-index: 1
}

.style_introduction__g09Mm p span {
    display: block;
    width: 10px;
    height: 10px;
    background-color: #ffffe3;
    border-radius: 50%;
    margin-right: 10px
}

.style_roundedButton__BkVn7 {
    border-radius: 3em;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center
}

.style_circle__2ViAL {
    width: 100%;
    height: 150%;
    position: absolute;
    border-radius: 50%;
    top: 100%
}

.scroller {
    max-width: 1600px
}

.scroller__inner {
    padding-block: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem
}

.scroller[data-animated=true] {
    overflow: hidden;
    -webkit-mask: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent);
    mask: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent)
}

.scroller[data-animated=true] .scroller__inner {
    width: -moz-max-content;
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 40s) var(--_animation-direction, forwards) linear infinite
}

.scroller[data-direction=right] {
    --_animation-direction: reverse
}

.scroller[data-direction=left] {
    --_animation-direction: forwards
}

.scroller[data-speed=fast] {
    --_animation-duration: 9s
}

.scroller[data-speed=slow] {
    --_animation-duration: 60s
}

@keyframes scroll {
    to {
        transform: translate(calc(-50% - .5rem))
    }
}

:root {
    --clr-neutral-100: #fff;
    --clr-primary-100: #8497a4;
    --clr-primary-400: #344256;
    --clr-primary-800: #1d283a;
    --clr-primary-900: #0f151f
}

.tag-list {
    margin: 0;
    padding-inline: 0;
    list-style: none
}

.tag-list li {
    padding: 1rem;
    background: var(--clr-primary-400);
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem -.25rem var(--clr-primary-900)
}